.hightlight-block {
  margin-top: 48px;
}
.hightlight-block .title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 31px;
}
.img-fit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.highlight-content {
  margin-bottom: 64px;
}
.highlight-content .swiper-slide .row {
  justify-content: space-between;
}
.highlight-content .node-wrapper {
  position: relative;
  height: 100%;
}
.highlight-content .node-wrapper .info-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 31px 24px;
  color: #fff;
}
.highlight-content .node-wrapper .info-wrapper > .des {
  height: 42px;
}
.highlight-content .node-wrapper.smn .info-wrapper {
  padding: 0 20px 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.highlight-content .node-wrapper .info-wrapper > a.view-node {
  padding: 9px 31px;
  margin-top: 10px;
  color: #fff;
  background: #e8952f;
  border-radius: 4px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.highlight-content .node-wrapper .info-wrapper .news-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-bottom: 10px;
}
.highlight-content .swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 2px;
  border-radius: 0;
  margin: 0 4px;
  background: #ced4da;
}
.highlight-content .swiper-pagination .swiper-pagination-bullet-active {
  height: 4px;
  background: #e8952f;
}
.highlight-content .swiper-pagination {
  padding-top: 20px;
  height: 4px;
  display: flex;
  justify-content: center;
  position: relative;
}
.highlight-content .swiper-slide .node-wrapper .img-wrapper {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.highlight-content .swiper-slide .node-wrapper .img-wrapper a {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  transition: 0.5s;
}
.highlight-content .swiper-slide .node-wrapper .img-wrapper:hover a {
  transform: scale(1.05);
}
.highlight-content .swiper-slide .node-wrapper .img-wrapper a::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 67.09%
  );
  position: absolute;
}
.hightlight-block .swiper-slide .node-wrapper .img-wrapper img {
  width: 100%;
}
.small-nodes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
@media (min-width: 1439px) {
  .big-node,
  .highlight-content .swiper-pagination {
    width: calc(752px + 15px);
    flex: unset;
    max-width: unset;
    padding-right: 0;
  }
  .small-nodes {
    width: calc(100% - 767px - 30px);
    flex: unset;
    max-width: unset;
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .highlight-block {
    margin-top: 29px;
  }
  .highlight-block .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 13px;
  }
  .highlight-content-mb .swiper-slide {
    width: calc((100% + 16px) * 383 / 414);
  }
  .hightlight-block {
    padding-right: 0;
    margin-top: 29px;
  }
  .highlight-content-mb .info-wrapper {
    position: absolute;
    bottom: 19px;
    left: 20px;
    width: calc(100% - 40px);
  }
  .highlight-content-mb .info-wrapper .news-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
  }
  .highlight-content-mb .node-wrapper {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .highlight-content-mb .node-wrapper::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 67.09%
    );
    width: 100%;
    height: 100%;
  }
  .hightlight-block .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 13px;
  }
}
