.banner-block .img-wrapper img {
  width: 100%;
  height: auto;
}
.banner-block .img-wrapper::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.48) 0%,
    rgba(0, 0, 0, 0) 76.32%
  );
  width: 100%;
  height: 100%;
}
.banner-block {
  position: relative;
}
.banner-block .text-wrapper {
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 512px;
  max-width: 95%;
}
.banner-block .text-wrapper .b_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #fff;
  margin-bottom: 24px;
}
.banner-block .text-wrapper .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
}
@media (max-width: 480px) {
  .banner-block .text-wrapper .b_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .banner-block .input-wrapper {
    position: relative;
    display: flex !important;
    align-items: center;
  }
  .banner-block .input-wrapper input {
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    padding: 0 30px 0 16px;
  }
  .banner-block .input-wrapper::before {
    content: "";
    position: absolute;
    right: 15px;
    width: 24px;
    height: 24px;
    background: url(../images/listing-news/seach-icon.svg) 100%;
    background-position: center;
  }
  .banner-block .container {
    padding: 0 15px;
  }
  .banner-block .text-wrapper {
    max-width: calc(100% - 30px);
    bottom: 17px;
    height: auto;
  }
}
