<div class="container">
  <%= link_to "<button class='btn btn-success mb-3'> Tạo product</button>".html_safe, new_website_product_path(website_id: params[:website_id]) %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @products.map do |product| %>
        <tr>
          <td><%= product.title %></td>
          <td><button class="btn btn-primary">Edit</button> &nbsp;<button class="btn btn-danger">Delete</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
