<div class="container">
  <%= link_to "<button class='btn btn-success mb-3'> Tạo product</button>".html_safe, new_website_product_path(website_id: params[:website_id]) %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @products.map do |product| %>
        <tr>
          <td><%= product.title %></td>
          <td>
            <%= link_to "<button class='btn btn-primary'>Edit</button>".html_safe, edit_website_product_path(website_id: params[:website_id], id: product.id) %>
            &nbsp;
            <%= link_to "<button class='btn btn-danger'>Delete</button></td>".html_safe, website_product_path(website_id: params[:website_id], id: product.id), method: :delete, data: {confirm: 'Bạn muốn xóa không?'} %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
